<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Kwata - Carregando</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #00a300; /* verde */
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    img {
      max-width: 280px;
      width: 80%;
      height: auto;
    }
  </style>
  <script>
    setTimeout(function() {
      window.location.href = "/inicial.html";
    }, 3000);
  </script>
</head>
<body>
  <img src="/static/novologo.png" alt="Kwata Logo" />
</body>
</html>
